body {
	background-image: url('../photos/photo_2.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#tab_1 {
	margin-top: 6px;
	font-size: 22px;
	color: white;
	padding: 5px;
	font-style: italic;
	background: rgba(51,51,51,0.60) none no-repeat scroll 0 0;
	border-radius: 5px;
}

#sale_3 {
	display: none;
}

#sale_4 {
	display: none;
	padding: 15px;
	background: rgba(245,245,245,0.49) none no-repeat scroll 0 0;
	border-radius: 5px;
}

.textTTTT {
	border-radius: 5px;
	text-align: center;
	border: 1px solid #333;
	background: rgba(51,51,51,0.60) none no-repeat scroll 0 0;
}

#titleTextForPrice {
	font-size: 22px;
	color: #333;
	display: inline-block;
	padding-top: 10px;
	font-style: oblique;
	margin-right: 5px;
	color: white;
}

#reports {
	display: none;
}

#priceForOneTicket {
	font-size: 22px;
	color: white;
	display: inline-block;
	padding-top: 10px;
	font-style: oblique;
}

#sale_5 {
	margin-top: 10px;
	display: none;
	text-align: center;
}

#sale_5 > button {
	margin: 3px;
	font-size: 25px;
}

.message {
	display: none;
	border-radius: 5px;
	text-align: center;
	margin-top: 5px;
	border: 1px solid red;
}

#poruka {
	font-size: 22px;
	color: red;
	padding-top: 10px;
	font-style: oblique;
	margin-right: 5px;
}