#oneFlight {
	margin-top: 50px;
}

#title {
	font-size: 22px;
	text-align: center;
}

.table > tbody > tr > th {
	border-right: 1px solid gray;
	text-align: center;
}

.table > tbody > tr > td {
	color: gray;
	cursor: pointer;
	text-align: center;
}

.table > tbody > tr > td:hover {
	color: black;
}

#manageUsers {
	display: none;
}

#divButton {
	text-align: center;
}

#divButton > button {
	margin: 4px;
}

#titleForReservation {
	text-align: center;
	font-size: 30px;
	color: #333;
	margin-top: 20px;
}

#allReservationTicketByAdmin {
	display: none;
	margin-top: 20px;
}

#titleForSale {
	text-align: center;
	font-size: 30px;
	color: #333;
	margin-top: 20px;
}

#allSoldTicketByAdmin {
	display: none;
	margin-top: 20px;
}

#formEditFlight {
	display: none;
}

