body {
	background-image: url('../photos/photo_2.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#oneFlight {
	margin-top: 50px;
}

#title {
	font-size: 28px;
	text-align: center;
	color: white;
	background: rgba(51,51,51,0.60) none no-repeat scroll 0 0;
	border-radius: 5px;
}

.table > tbody > tr > th {

	text-align: center;
}

.table > tbody > tr > td {
	color: gray;
	cursor: pointer;
	text-align: center;
}

.table > tbody > tr > td:hover {
	color: black;
}

#oneFlight > table {
	background-color: white;
}

#reports {
	display: none;
}

#manageUsers {
	display: none;
}

#divButton {
	text-align: center;
}

#divButton > button {
	margin: 4px;
}

#titleForReservation {
	text-align: center;
	font-size: 30px;
	color: white;
	margin-top: 20px;
	background: rgba(51,51,51,0.60) none no-repeat scroll 0 0;
	border-radius: 5px;
}

#allReservationTicketByAdmin {
	display: none;
	margin-top: 20px;
}

#titleForSale {
	text-align: center;
	font-size: 30px;
	color: white;
	margin-top: 20px;
	background: rgba(51,51,51,0.60) none no-repeat scroll 0 0;
	border-radius: 5px;
}

#allSoldTicketByAdmin {
	display: none;
	margin-top: 20px;
}

#editFlightByAdmin {
	padding: 10px;
}

#formEditFlight {
	display: none;
	padding: 15px;
	background: rgba(245,245,245,0.49) none no-repeat scroll 0 0;
	border-radius: 5px;
}

#labela {
	color: black;
	font-size: 19px;
}

