body {
	background-image: url('../photos/photo_2.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#mainn {
	margin-top: 50px;
}

.numberID {
	text-decoration: none;
	color: gray;
}

#reports {
	display: none;
}

#searchBox {
	margin-top: 40px;
}

#manageUsers {
	display: none;
}

#addFlight {
	margin-top: 20px;
}

#addFlightForm {
	display: none;
}

#searchOK {
	background-color: #4285F4;
	color: white;
}

#searchOK:hover {
	background-color: white;
	color: #4285F4;
}

#addFlightForm {
	padding: 10px;
}

#labela {
	font-size: 19px;
	color: black;
}

#formAddFlight {
	padding: 15px;
	background: rgba(245,245,245,0.49) none no-repeat scroll 0 0;
	border-radius: 5px;
}