#mainn {
	margin-top: 50px;
}

.numberID {
	text-decoration: none;
	color: gray;
}

#searchBox {
	margin-top: 40px;
}

#manageUsers {
	display: none;
}

#addFlight {
	margin-top: 20px;
}