body {
	background-image: url('../photos/photo_2.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

nav {
	background-color: #333;
}

#logoo {
	font-style: italic;
	color: white;
	padding-right: 20px;
}

#nav > li > a {
	color: white;
	font-size: 18px;
}