#oneTicket {
	margin-top: 50px;
}

.table > tbody > tr > th {
	border-right: 1px solid gray;
	text-align: center;
}

.table > tbody > tr > td {
	color: gray;
	cursor: pointer;
	text-align: center;
}

.table > tbody > tr > td:hover {
	color: black;
}

#manageUsers {
	display: none;
}

#divButton {
	text-align: center;
}

#divButton > button {
	margin: 4px;
}

#goingFlight {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

#reverseFlight {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

#userr {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

#editTitle {
	margin-top: 30px;
	text-align: center;
	font-size: 25px;
	border-bottom: 1px solid gray;
}

#firsEditSeat {
	margin-top: 20px;
}

#editDiv {
	display: none;
}